.header{
    height: 100px;
    background: blue;
}
.logo{
    background: red;
}
.header--text{
    font-size: calc(0.5rem + 5vw);
}
.nav{
    height: 300px;
    background: darkcyan;
}
.content{
    height: 300px;
    background:  skyblue;
}